[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
